.about {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-left: 10px;

  &__header {
    font-weight: $font-weight-bold;
    margin-bottom: 20px;
    font-size: $font-size-large;
  }

  &__body div {
    margin: 15px 20px;
    font-size: $font-size-small;
    line-height: 1.8em;
  }
}

@media (min-width: 700px) {
  .about {
    margin-top: 100px;
    margin-left: 20%;
  
    &__header {
      margin-bottom: 40px;
      font-size: $font-size-large;
    }
  
    &__body div {
      width: 495px;
    }
  }
}