.admin {
  padding: 0 !important;
}
.admin-header {
  &--container {
    background-color: #262e3d;
    height: 4.75rem;
    line-height: 0px;
  }
  &--container a {
    color: #58bacc !important;
    font-family: $font-body;
  }

  &--icon {
    height: 1.5rem;
    padding-right: 0.75rem;
  }
  &--brand {
    font-size: 1rem !important;
  }
  &--sub-heading {
    padding-left: 2.8rem;
    text-transform: uppercase;
  }
  &--nav-link,
  a {
    font-size: 0.8rem !important;
    text-transform: uppercase;
    color: whitesmoke !important;
  }
}

#admin-header--home-icon {
  padding: 0;
  margin: 0.5rem 1rem 0 0;
}
// #admin-header--profile-icon {
//   fill: #58bacc;
// }

