//* Media Queries
@media screen and (max-width: 940px) {
  .admin_header {
    &__hamburger {
      display: inline !important;
    }
    &__heading {
      display: none;
    }
    &__container {
      padding: 3rem 1rem 3rem 1rem !important;
    }
    &__nav_link {
      padding-right: 0rem !important;
    }
  }
  .home_icon {
    display: none;
  }
}

// .admin {
//   padding: 0 !important;
// }
.admin_header {
  &__container {
    background-color: #262e3d;
    height: 7rem;
    display: flex;
    // line-height: 0px;
    flex-direction: row;
    justify-content: space-between;
    padding: 3rem 14rem 3rem 1rem;
  }
  &__container a {
    color: #58bacc !important;
    font-family: "Raleway", sans-serif;
  }
  &__col {
    align-content: center;
    flex-direction: column;
  }
  &__icon {
    height: 1.5rem;
    padding-right: 0.5rem;
    margin: -0.5rem 0.3rem 0 1.2rem;
  }
  &__brand {
    font-size: 1rem !important;
    align-items: flex-end !important;
  }
  &__heading {
    margin-top: 25rem !important;
    text-transform: uppercase;
    font-weight: 525;
    font-size: 1.2rem;
    align-content: baseline !important;
  }
  &__nav_link,
  a,
  span {
    font-size: 1rem !important;
    color: whitesmoke !important;
    font-weight: 600;
    padding-right: 5rem;
    margin-top: -13rem !important;
  }
  &__hamburger {
    display: none;
  }
}
