.footer_spacer {
  flex: 0;
}

.footer {
  font-size: $font-size-nav;
  & hr {
    margin: 20px 20px 0 20px;
  }
  &__nav {
    display: flex;
    flex-direction: row;
    padding: 10px 20px;
    & img {
      width: 20px;
      height: auto;
      margin-right: 5px;
    }
    &-logo {
      img {
        width: 20px;
        margin: 0 5px;
      }
    }
    &-link {
      padding-top: 2px;
      font-size: 12px;
      & li {
        position: relative;
        display: inline-block;
        padding: 0 5px;
      }
    }
    &-icons {
      width: 150px;
    }
  }
  &__copyright {
    background-color: $font-accent-color;
    color: $bg;
    font-weight: $font-weight-regular;
    padding: 20px 0 20px 110px;
  }
}

@media (min-width: 940px) {
  .footer_spacer {
    flex: 1;
  }

  .footer {
    & hr {
      margin: 20px 100px 0 100px;
    }
    &__nav {
      padding: 10px 125px;
      & img {
        width: 40px;
        margin-right: 10px;
      }
      &-link {
        padding-top: 20px;
        font-size: 18px;
        & li {
          position: relative;
          display: inline-block;
          padding: 0 10px;
          & .animate-left {
            color: $font-color;
            &:after {
              content: "";
              position: absolute;
              width: 0;
              height: 1px;
              display: block;
              margin-top: 1px;
              right: 0;
              background: #000;
              transition: width 0.5s ease;
              -webkit-transition: width 0.5s ease;
            }
            &:hover {
              text-transform: none;
              color: $text-nav-hover;
            }
            &:hover:after {
              width: 100%;
              left: 0;
              background: #000;
            }
          }
        }
      }
      &-icons {
        width: 200px;
      }
    }
  }
}
