.form {
  margin: 10px;

  & h1 {
    font-size: $font-size-med;
    text-align: center;
  }
  &__about {
    font-size: $font-size-small;
    padding-bottom: 10px;
    margin-bottom: 10px;
    text-align: center;
  }

  &__form {
    margin-left: 20px;
  }

  & input[type="checkbox"] {
    margin-right: 10px;
  }

  &__input-label {
    display: block;
    margin-top: 10px;
    margin-left: 10px;
    font-size: $font-size-small;
  }

  &__input-input {
    border: 2px solid $card-border;
    border-radius: 10px;
    line-height: 2em;
    padding: 5px;
    width: 250px;
  }

  &__options-label {
    margin-bottom: 10px;
  }

  &__options-values {
    margin-left: 10px;
    margin-bottom: 20px;

    & label {
      margin-left: 10px;
    }
  }

  &__submit {
    margin-top: 30px;
    text-align: center;

    & .ui__button {
      margin: 0 auto;
    }
  }
}

@media (min-width: 940px) {
  .form {
    margin: 30px 50px;

    &__submit {
      text-align: center;
    }
  }
}
