.header__small {
  background: $bg url("../../Components/Images/banner.jpg") no-repeat;
  background-size: cover;
  height: auto;
  padding: 20px 0;
  color: $font-accent-color;
  font-weight: $font-weight-bold;

  &-title {
    display: none;
  }

  &-title-hamburger {
    display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      margin: 0 20px;
  }
}


@media (min-width: 940px) {
  .header__small {
    &-title {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      margin: 0 50px;
    }

    &-title-hamburger {
      display: none;
    }
  }
}