.navbar {
  font-family: "Raleway", sans-serif;
  box-shadow: 0px 4px 4px $shadow-color;

  font-weight: bold;

  & a {
    color: $font-color;

    &:hover {
      color: $font-hover-color;
    }
  }

  & img {
    vertical-align: middle;
    margin-right: 10px;
  }

  &__small {
    position: relative;

    & .navbar__links {
      position: absolute;
      overflow: hidden;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;

      & div {
        border-bottom: 1px solid $border-color;
        background-color: $bg;
        padding: 10px;
        width: 100%;
  
        & a {
          color: $font-hover-color;
          font-weight: bold;
        }

        & img {
          display: none;
        }
      }
    }
  }

  &__large {
    display: none;
  }
}

@media (min-width: 600px) {
  .navbar__small {
    display: none;
  }

  .navbar__large {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px 100px;

    &-logo {
      &-bold {
        font-weight: bold;
      }
    }

    & .navbar__links {
      & div {
        display: inline-block;
        margin: 0 20px;
      }
    }
  }
}
