.nav__header {
  display: flex;
  flex-direction: row;
  padding: 10px;
  background-color: $gray-dark-bg;
}

.nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 10px;
  background-color: $gray-dark-bg;
}

.nav__logo {
  margin-left: 1rem;
  a {
    color: $black;
    text-decoration: none;
  }
}

.spacer {
	flex: 1; // takes all available space
}

.nav__links ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  li {
    margin: 0 5px;
  }
}
