.projectdetails {
  margin: 20px 50px 20px 50px;
  width: 80%;
  background-color: $gray-dark-bg;
  padding: 20px;
}

.projectdetails__description {
  border: 1px solid $gray-dark-bg;
  padding: 0 20px 20px 20px;
  div {
    margin: 20px 10px;
  }
  div:first-child {
    margin-top: 0;
  }
}

.projectdetails__back {
  text-align: right;
}