.projectdetails {
  margin: 20px;
  padding: 5px;
  min-height: calc(86vh - 100px);
}

.projectdetails__description {
  border: 1px solid $card-border;
  background-color: $card-bg;
  border-radius: 5px;
  padding: 10px;
  div {
    margin: 20px 10px;
  }
  div:first-child {
    margin-top: 0;
  }
}

.projectdetails__back {
  text-align: right;
  margin-top: 20px;
  button {
    width: 150px;
  }
}

@media (min-width: 540px) {
  .projectdetails {
    margin: 20px 50px;
    padding: 20px;
  }

  .projectdetails__description {
    padding: 20px;
  }
}