.projects {
  padding: 10px 20px;

  &__header {
    font-size: $font-size-header;
    font-weight: $font-weight-bold;
  }
  &__about {
    &-header {
      font-size: $font-size-sub-header;
      font-weight: $font-weight-bold;
    }

    & ol {
      list-style-position: inside;
    }
  }
}

@media (min-width: 700px) {
  .projects {
    padding: 20px 110px;
  }
}
