.search {
  text-align: right;
  & img {
    height: 29px;
    vertical-align: middle;
  }
  & input {
    padding: 6px;
    border: 1px solid $search-input-border;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-top: 8px;
    width: 200px;
  }
}
