.sideBar {
  &--container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-family: $font-body;
    width: 15rem !important;
    height: 100vh;
    background-color: #262e3d;
    padding-right: 0 !important;
  }
  &--link {
    color: whitesmoke !important;
  }
  &--row {
    background-color: #d71549 !important;
  }
}
