.signups {
  margin: 20px 50px 20px 50px;
}

.signups__project-options {
  input[type="checkbox"] {
    vertical-align: middle;
    margin-right: 10px;
    height: 20px;
    width: 20px;
  }
}

.signups__projects-options-option {
  margin-left: 20px;
}
