.ui {
  &__button {
    background-color: $font-hover-color;
    color: white;
    border-radius: 5px;
    border: none;
    padding: 10px 20px;
    font-size: 14px;
    width: 160px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

    & img {
      width: 25px;
      height: auto;
      flex-shrink: 0;
    }

    &:hover {
      background-color: #a10020;
    }
  }

  &__input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;

    & input {
      border: 2px solid $card-border;
      border-radius: 10px;
      line-height: 2em;
      padding: 5px;
      width: 250px;
    }

    & label {
      margin-top: 10px;
      margin-left: 10px;
      font-size: $font-size-small;
    }
  }

  &__checkbox {
    margin-right: 10px;

    & label {
      margin-bottom: 10px;
      margin-left: 10px;
    }
  }

  &__error {
    color: $error;
  }
}
