.voting {
  margin: 20px 50px 20px 50px;
  width: 80%;
}

form {
  margin: 0 50px;
  div {
    margin: 20px 0;
  }
  label {
    margin-right: 5px;
  }
}

.voting__project-input {
  input {
    margin-right: 10px;
  }
  div {
    margin: 10px 20px;
  }
}
