$bg: #FFFFFF;
$font-color: #000000;
$font-accent-color: #58bacc;
$bg-nav: #D6C9C9;
$bg-button-hover: #77B6EA;
$bg-button: #C7D3DD;
$card-border: #37393A;
$card-bg: #c7d3dd;
$card-hover: #E0E5F1; 
$shadow-color: #e1e1e1;
$small-button-bg: #D6C9C9;
$text-nav: #D71549;
$text-nav-hover: #FF5772;