// * {
//   outline: 1px solid blueviolet;
// }

html,
body,
ul,
ol {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: $font-size-small;
  line-height: 1.5em;
  color: $font-color;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.main {
  background-image: linear-gradient($bg, white);
}

.spacer {
  flex: 1;
}

button {
  font-family: 'Raleway', sans-serif;
}

.error {
  color: $error;
  font-style: italic;
  font-size: $font-size-xsmall;
}

.required {
  color: $error;
  font-style: italic;
  font-size: $font-size-large;
}
