html,
body,
ul,
ol {
  margin: 0;
  padding: 0;
}

body {
  font-family: Roboto;
  font-size: 16px;
  color: $gray-dark;
  background: $gray-light-bg;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.strong {
  font-weight: bold;
}

.header {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 20px;
}