$bg: #f6f6f6;
$white: white;
$accent: #58bacc;
$font-color: #434447;
$red: #d71549;
$border-color: #d2d3d5;
$shadow-color: #e1e1e1;
$hover-color: #e0e5f1;
$bg-accent-color: rgba(224, 229, 241, 0.4);

$font-weight-extra-bold: 800;
$font-weight-bold: 700;
$font-weight-semi-bold: 600;
$font-weight-medium: 500;
$font-weight-regular: 400;

$font-size-header: 30px;
$font-size-sub-header: 20px;
$font-size-small: 15px;
$font-size-extra-small: 10px;