$font-weight-extra-bold: 800;
$font-weight-bold: 700;
$font-weight-semi-bold: 600;
$font-weight-medium: 500;
$font-weight-regular: 400;

$font-size-header: 56px;
$font-size-sub-header: 20px;
$font-size-nav: 18px;
$font-size-small: 15px;